Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('./orders.csv', sep=',')
print(df.describe())
print(df.info())
print(df.head(10))

       pages_visited  tshirt_price  tshirt_quantity
count   26552.000000  26552.000000     26552.000000
mean       10.838016     20.223768         2.693394
std         3.589299      2.220651         3.456182
min         2.000000     17.500000         1.000000
25%         8.000000     18.000000         1.000000
50%        11.000000     20.000000         2.000000
75%        13.000000     23.000000         3.000000
max        28.000000     24.000000        29.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26552 entries, 0 to 26551
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_date       26552 non-null  object
 1   pages_visited    26552 non-null  int64
 2   order_id         26552 non-null  object
 3   customer_id      26552 non-null  object
 4   tshirt_category  26552 non-null  object
 5   tshirt_price     26552 non-null  float64
 6   tshirt_quantity  26552 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.4+ MB
None
   order_date  pages_visited         order_id customer_id  tshirt_category  \
0  2016/09/04              9  HTS-038040-0002      038040  White T-Shirt M
1  2014/11/14             11  HTS-801797-0001      801797  White T-Shirt M
2  2017/02/26             10  HTS-vft1eu-0003      vft1eu  White T-Shirt F
3  2013/12/01             10  HTS-914324-0001      914324      Wh Tshirt F
4  2015/10/22             12  HTS-88ua9r-0001      88ua9r  White T-Shirt M
5  2016/01/15              9  HTS-061311-0003      061311  Black T-Shirt F
6  2014/11/25              6  HTS-479441-0001      479441           Hoodie
7  2014/11/01             10  HTS-352809-0001      352809  Black T-Shirt M
8  2013/11/03             10  HTS-494332-0001      494332      Wh Tshirt F
9  2013/10/02             14  HTS-463794-0001      463794     Tennis Shirt

   tshirt_price  tshirt_quantity
0          20.0                1
1          20.0                1
2          18.0                3
3          18.0                1
4          20.0                1
5          17.5                4
6          23.0               19
7          19.0                2
8          18.0                2
9          24.0                1

In [3]:
# 1
df['order_date']= pd.to_datetime(df['order_date'])
df['order_date'] = pd.to_datetime(df['order_date'].dt.strftime('%Y/%m/%d')).dt.date

In [6]:
# 2
print('Unique: ', df.tshirt_category.unique())
print('Unique count: ', df.tshirt_category.nunique())

Unique:  ['White T-Shirt M' 'White T-Shirt F' 'Wh Tshirt F' 'Black T-Shirt F'
 'Hoodie' 'Black T-Shirt M' 'Tennis Shirt' 'Wh Tshirt M' 'Bl Tshirt F'
 'Bl Tshirt M']
Unique count:  10

In [4]:
# 3
replacements_map = {
    'Wh Tshirt F': 'White T-Shirt F',
    'Wh Tshirt M': 'White T-Shirt M',
    'Bl Tshirt F': 'Black T-Shirt F',
    'Bl Tshirt M': 'Black T-Shirt M'
}
df.tshirt_category[:] = df.tshirt_category.apply(lambda current: replacements_map[current] if current in replacements_map else current)

/var/folders/19/cx6dklk93z1fbt8yhwynlmd80000gn/T/ipykernel_4711/1070589712.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.tshirt_category[:] = df.tshirt_category.apply(lambda current: replacements_map[current] if current in replacements_map else current)

In [5]:
# 4
def tshirt_type_selector(current):
    if 'T-Shirt' in current:
        return 'T-Shirt'
    elif 'Hoodie' in current:
        return 'Hoodie'
    elif 'Shirt' in current:
        return 'Shirt'
    else:
        raise ValueError('Unknown value')

def tshirt_size_selector(current):
    known_sizes = ['M','F']
    size = current.split()[-1]
    if size in known_sizes:
        return size
    else:
        return 'N/A'

def tshirt_colour_selector(current):
    known_colours = ['White','Black']
    colour = current.split()[0]
    if colour in known_colours:
        return colour
    else:
        return 'N/A'
    
df.tshirt_type = df.tshirt_category.apply(lambda current: tshirt_type_selector(current=current))
df.tshirt_size = df.tshirt_category.apply(lambda current: tshirt_size_selector(current=current))
df.tshirt_colour = df.tshirt_category.apply(lambda current: tshirt_colour_selector(current=current))

/var/folders/19/cx6dklk93z1fbt8yhwynlmd80000gn/T/ipykernel_4711/1074686150.py:28: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tshirt_type = df.tshirt_category.apply(lambda current: tshirt_type_selector(current=current))
/var/folders/19/cx6dklk93z1fbt8yhwynlmd80000gn/T/ipykernel_4711/1074686150.py:29: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tshirt_size = df.tshirt_category.apply(lambda current: tshirt_size_selector(current=current))
/var/folders/19/cx6dklk93z1fbt8yhwynlmd80000gn/T/ipykernel_4711/1074686150.py:30: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tshirt_colour = df.tshirt_category.apply(lambda current: tshirt_colour_selector(current=current))

In [6]:
#5
import datetime
start = datetime.date(year=2014, month=12, day=31)
stop = datetime.date(year=2016, month=8, day=2)
result = df[(df.order_date > start) & (df.order_date < stop)]
print(result.order_date.min())
print(result.order_date.max())

2015-01-01
2016-08-01

###

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [7]:
df1 = pd.read_csv('./customers.csv', sep=',')

In [8]:
#1
print(df1.columns)

Index(['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

In [9]:
#2
print('Zad 1 - liczba wierszy', len(df.index))
print('Zad 1 - liczba kolumn', len(df.columns))
print('Zad 2 - liczba wierszy', len(df1.index))
print('Zad 2 - liczba kolumn', len(df1.columns))

Zad 1 - liczba wierszy 26552
Zad 1 - liczba kolumn 7
Zad 2 - liczba wierszy 18766
Zad 2 - liczba kolumn 6

In [10]:
#3
df1.rename(columns = {'customerID':'customer_id'}, inplace = True)
print(df1.columns)

Index(['customer_id', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

In [11]:
#4
print(df.columns)
print(df1.columns)
df_merged = df.merge(df1, on='customer_id')
df_merged

'''Uzylem merge poniewaz pozwala stowrzyc nowy dataframe na podstawie innych uzywajac specyficznej kolumny do polaczenia danych'''

Index(['order_date', 'pages_visited', 'order_id', 'customer_id',
       'tshirt_category', 'tshirt_price', 'tshirt_quantity'],
      dtype='object')
Index(['customer_id', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

'Uzylem merge poniewaz pozwala stowrzyc nowy dataframe na podstawie innych uzywajac specyficznej kolumny do polaczenia danych'

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [12]:
df_merged.to_csv('test.csv', index=False)